<div class="bookmarkletContainer">
  <div>
    <a class="bookmarklet" title="add to thoughtsaver" href="javascript:(function()%7Bf='http://thoughtsaver0.appspot.com/addCardBookmarklet?src='+encodeURIComponent(window.location.href)+'&title='+encodeURIComponent(document.title)+'&back='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text));a=function()%7Bif(!window.open(f,'thoughtsaver0bookmarklet','location=1,links=0,scrollbars=0,toolbar=0,width=738,height=231'))location.href=f+'jump=yes'%7D;if(/Firefox/.test(navigator.userAgent))%7BsetTimeout(a,0)%7Delse%7Ba()%7D%7D)()">
      <img src="/site_media/img/quizme.gif" alt="add to thoughtsaver"/>
    </a>
    <p>Drag into toolbar</p>
  </div>
</div>